# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# Ignore temporary editor files
src/main/resources/assets/create_backpackage/textures/item/.xdp-*
*.bbmodel-*
